extends ../layouts/main.pug

block globals
  - title = "Contact us for our Movie Database"

block content

  header
    h1= title
  div 
    p= 'Developers: Nick Chamberland & Brody Aldersley'
    p= 'Github: https://github.com/chamnich/comp-2068-lab-02' 